@model IEnumerable<Product>

@section Scripts{ 
    <script src="~/clientapp/dist/runtime.js" asp-append-version="true"></script>
    <script src="~/clientapp/dist/polyfills.js" asp-append-version="true"></script>
    <script src="~/clientapp/dist/styles.js" asp-append-version="true"></script>
    <script src="~/clientapp/dist/vendor.js" asp-append-version="true"></script>
    <script src="~/clientapp/dist/main.js" asp-append-version="true"></script>
}

<h1>Shop</h1>

<the-shop></the-shop>
